In [1]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io

In [3]:
start = datetime.datetime(2020,2,1)
end = datetime.datetime(2020,2,5)
stock = yf.download('GME',start=start, end=end, progress=False)

In [4]:
stock

            Open  High   Low  Close  Adj Close   Volume
Date
2020-02-03  3.88  3.98  3.85   3.95       3.95  2025600
2020-02-04  4.03  4.25  3.97   4.07       4.07  3563100